*.pyc
*.log

# 后端文件
/backend/backend/__pycache__

/backend/misback/migrations/__pycache__

/backend/misback/__pycache__

/backend/log

/backend/media/*/*

# 模型相关文件
/backend/vbar_detect_v3/__pycache__

/backend/vbar_detect_v3/*/__pycache__

/backend/vbar_detect_v3/out_images

/backend/vbar_detect_v3/test.mp4

# vscode计数器相关文件
/.VSCodeCounter
